<div data-role="view" data-title="Contacts" data-layout="main" data-model="APP.models.contacts" data-init="listViewInit">
    <div data-role="header">
        <div class="headerDiv" style="border-bottom: 5px solid #b0d255;">
            <div style="float: left;" class="headerIcon" >
                <img src="styles/images/green_bubble.png" height="50" alt=""/>
            </div>
            <div class="headerLabel" style="padding-left: 10px; float:left; ">
                My Printers
            </div>
            <div style="float:right; height: 100%">
                <div style="display: inline-block; height: 100%; vertical-align: bottom;"></div>
                <a data-role="button" style="border: none; padding: 0; background: none; display: inline-block" data-click="addPrinter">
                    <img src="styles/images/31-circle-plus-green.png" class="addPrinterButton" alt=""/>

                    <div class="headerAddPrinter" style="float:right; padding-left: 3px; color: #b0d255; padding-top: 6px">
                        ADD PRINTER
                    </div>
                </a>
            </div>
        </div>
    </div>

    <ul id="printerContainer" ></ul>

    <!-- this is the template used by the listview. template items are automatically
         wrapped in an <li> by Kendo UI Mobile -->
    <script type="text/x-kendo-template" id="contactsTemplate">
        <div class="printerRowContainer" style="width: 100%;">
            <a data-role="button" data-icon="details" class="printerRow"
               style="min-width:240px; background-image: url('styles/images/link_bkg.png'); background-size: 100% 100%; ">
                <div style="float: left; position: relative; width: 50%; min-width: 160px;">
                    <img src='styles/images/thumb_c1357.png' style="float: left; height: 50px">
                    <div style="font-size: 14px; font-weight: bold">#: data.printer1.name #<br>#: data.printer1.id #<br>#: data.printer1.serial #</div>
                </div>
            </a>

            <a data-role="button" data-icon="details" class="printerRow"
               style="min-width:240px; background-image: url('styles/images/link_bkg.png'); background-size: 100% 100%; #: data.printer2.cellClass #">
                <div style="float: left; position: relative; width: 50%; min-width: 160px;">
                    <img src='styles/images/thumb_c1357.png' style="float: left; height: 50px; ">
                    <div style="font-size: 14px; font-weight: bold">#: data.printer2.name #<br>#: data.printer2.id #<br>#: data.printer2.serial #</div>
                </div>
            </a>
        </div>
    </script>

    <script>
        function listViewInit() {
            $("#printerContainer").kendoMobileListView({
                dataSource: listviewDatasource,
                template: $("#contactsTemplate").text()
                //virtualViewSize: 50,
                //endlessScroll: true
            });
        }
    </script>
</div>